body{
background-color:pink;
background-size:1500px 800px;
background-repeat:no-repeat;
 }
 
 h1{
 text-align:center;
  font-size: 100px;
  color:blue;
  font-family:sanserif
 }
 p
 {
  text-align:center;
  font-size: 40px;
  color:blue;
  font-family:sanserif
	 
 }